*{
    margin: 0;
    font-family: Arial;
    border: border-box; /*padding given to element is included in its height and width*/

}
.nav{
height:60px;
background-color: #0f1111;
color:white;
display: flex;
align-items: center;
justify-content: space-evenly;
}
.navlogo{
    height:50px;
    width:120px;
}
.logo{
    background-image: url("amazon_logo.png");
    height:50px;
    width:100%;
    background-size: cover;
}
.border{
border:2px solid transparent
}
.border:hover{
    border:1.5px solid white;
}

.a1{
    color:#cccccc;
    font-size: 0.82rem;
    margin-left: 5px;
}
.a2{
    font-size: 1rem;
    margin-left: 15px;
}
.add-icon{
    display: flex;
}
.nav_search{
    display:flex;
    background-color: rgb(234, 167, 67);
    width: 620px;
    height:40px;
    border-radius: 2px;
    justify-content: space-evenly;
}
.nav_search:hover{
    border: 2px solid rgb(234, 167, 67)
}
.search{
background-color: #f3f3f3;
width: 50px;
text-align: center;
border-top-left-radius: 2px;
border-bottom-left-radius: 2px;
border:none;
}
.input{
    width:100%;
    font-size: 1rem;
    border:none;
}
.searchicon{
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    font-size: 1.5rem;
    color: #0f1111;
}
.n1{
    font-size: 0.75rem;
}
.n2{
    font-size: 0.85rem;
    font-weight: 700;
}
.navcart i{
font-size :30px;
}
.navcart{
    font-size: 0.85rem;
    font-weight: 700;
}
.menupanel{
    height: 40px;
    background-color:#222f3d ;
    display: flex;
    color:white;
    align-items:center;
    justify-content: space-evenly;
}
.options{
    display: flex;
    width:70%;
    font-size: 0.85rem;
}
.options p{
    margin: 10px;
}
.deals{
    font-size: 0.9rem;
    font-weight:700 ;
}
.hero{
    background-image: url("hero_image.jpg");
    
    background-size: cover;
    height:350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.heromessage{
    background-color: white;
    color:black;
    height:40px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width:80%;
    margin-bottom: 20px;

}
.heromessage a{
    color:#007185
}
.box{
    margin: 5px;
    padding: 5px;
    height:350px;
    width:23%;
    background-color: white;
}
.shopboxes{
    display:flex;
    justify-content: space-evenly;
    background-color: #c9e4c6;
    flex-wrap: wrap;
}
.boximg{
height:80%;
background-size: cover;
margin-top: 8px;
margin-bottom: 8px;
}
footer{
    margin-top: 15px;
}
.backtotop{
    background-color: #37475a;
    color: white;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}